[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "<3.1.0,>=3.0.1"
gunicorn = "<21.3.0,>=21.2.0"
swagger-ui-py = "<23.10.0,>=23.9.23"
sqlalchemy = "<2.1.0,>=2.0.25"
psycopg2-binary = "<2.10.0,>=2.9.9"
marshmallow = "<3.21.0,>=3.20.2"

[dev-packages]
pylint = "<3.1.0,>=3.0.3"
alembic = "<1.14.0,>=1.13.1"

[requires]
python_version = "3.12"
