[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "<3.1.0,>=3.0.1"
gunicorn = "<21.3.0,>=21.2.0"
swagger-ui-py = "<23.10.0,>=23.9.23"

[dev-packages]
pylint = "<3.1.0,>=3.0.3"

[requires]
python_version = "3.12"
